
*{
    margin: 0px;
 }
#main, #canvas{
    border: 3px solid black;
}
#canvas{
    width:80%;
    margin: auto;
    height: 700px;
}
#form-body{
  border: 2px solid rgb(202, 122, 122);
   width: 430px;
   height: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 10px ;
  border-radius: 7px;
}

*{
    margin: .14px;
}


        .bbg{
            background-color: rgb(220, 237, 198);
            }
.progress{

    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    border: 5px ;

}


.border1
{

border: 1px;

}