<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

    <style>
body{
    text-align: center;
    text-decoration: dotted;
    text-shadow: 5px;
    background-attachment: fixed;
    background-color: rgb(10, 73, 155);
    text-decoration-color: beige;
    }

#footer{
    text-align: center;
    text-decoration: dotted;
    text-shadow: 5px;
    margin-top: 400px;
    color: beige;
}
#main{

    color: rgb(252, 252, 252);
}

    </style>
</head>
<body>


    <div id="main">
        <h1>You have successfully been logged out!</h1>
       <h2> Thankyou!</h2>
            </div>
    <div id="footer">
        24dp2000041  &#169; copyright 2024
    </div>
</body>
</html>

